/* Estilo para los links y textos destacados de ficha técnica y AQUI */
.link-aqui {
     color: #ff6600 !important;
     font-weight: bold;
     text-decoration: underline;
}
.navbar-brand{
     color: bisque;
}

.nav-link{
     color: bisque;
}

.title{
     color: bisque;
text-align: center;
font-style: oblique;
}

.texto1{
     color: rgb(221, 180, 131);
text-align: justify;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 18px;
}

.boddy{
     background-color: #4f5b65
}

img{
width: 100%;
height: 100%;
object-fit: cover;


}
.carousel-container {
      width: 600px; 
      height: 400px;
      margin: auto;
      overflow: hidden;
 }

.carousel-inner, .carousel-item {
      height: 100%;
    }

.carousel-inner img {
      width: 100%;
      height: 100%;
      object-fit: cover; 
}

.card-body{
     background-color: #6e7478;
}

.card-title{
     color: rgb(154, 154, 121);
     font-family: 'Times New Roman', Times, serif;
}

.card-text{
     color: cornsilk;
}

.text-body-secondary{
     color: cornsilk;
}

.imgprincipal{
     align-items: center;
     width: 10 0%;
     height: 700px;
     object-fit: cover;
     margin-bottom: 20px;
     margin-left: auto;
     margin-right: auto;
}


.linkaqui{
     color: #d1c6c0 
}

.card-text1{
     color: rgb(191, 239, 197);
}

.card-title1{
     color: rgba(250, 128, 114, 0.619);
}
